body{
  background-color: #f1f1f1;
  margin:0px;
}
header{
  height:423px;
  
  background-image:url(123.jpg);
  background-position: center;
  font-size: 35px;
  
}

nav{
position: ;
  background-color: black;
  text-decoration: none;
  display:flex;
  list-style: none;
}
nav a{
  float:left;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 29px;
  text-align: center;
  padding:27.6px;
  justify-content: space-evenly;
  
  
  
}

nav a:hover{
  background-color: red;
  
  
}

footer{
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  text-align: center;
  background-color:green;
  color:white;
 font-size: 40px; 
}

footer h2{
  justify-content: right;
  text-decoration: none;
  font-size: 15px;
  color: white;
}
footer a{
  text-decoration: none;
}
img{
  width:100%;
}
h2{
  padding:250px;
  color: black;
  margin:0px;
  text-align: center;
}
h1{
  background-color: grey;
  padding:250px;
  color: black;
  margin:0px;
  text-align: center;
}


.top{
  text-align: center;
  font-weight: 20px;
  padding:25px;
  font-size: 50px;
  background-color: wheat;

}
 a{
  color:black;
  text-decoration: none;
}